<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProiectareCantari.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProiectareCantari.Properties.Settings>
            <setting name="CuloareFundal" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CuloareText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MarimeVersuri" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="MarimeCeas" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FlagCeas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LungimeCadruCeas" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LatimeCadruCeas" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Aliniere" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CuloareFundalCeas" serializeAs="String">
                <value>64, 0, 64</value>
            </setting>
            <setting name="CuloareTextCeas" serializeAs="String">
                <value />
            </setting>
        </ProiectareCantari.Properties.Settings>
    </userSettings>
</configuration>